body {
    color: white;
    font-family1:  Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-family: monospace;
    text-shadow: 0 0 5px #C8C8C8;
    font-size: 12px;

    background-color: black;
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    );
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: repeating-linear-gradient(
        0deg,
        rgba(black, 0.15),
        rgba(black, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
      pointer-events: none;
    }
  }
  ::selection {
    background: #0080FF;
    text-shadow: none;
  }
  pre {
    margin: 0;
  }
     
  .bullet-lead {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
  }

  a {
   color:white;
  }

  

  .text { 

    position: relative;
    display: inline-block;
    
}

.OSName{
  font-size: 1.3em;
  font-weight: bold;

}
.next {
  color: #999;
}

.gold {
  color: yellow;
}

.subtext {
  color: #aaf;
}

.error {
  color: #aaa;
}
  
  .text::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: #aaaaaa;
    vertical-align: top;
    width: 10px;
    /* Set height to the line height of .text */
    height: 20px;
    /* 
    Animation paramaters:
    blink = animation-name, 
    1s = animation-duration, 
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }
  
  @-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }